/* styling */
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: orange;
  text-align: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  margin: 20px;
  list-style: none;
  box-shadow: 7px 7px 8px 0px rgba(138, 130, 138, 0.64);
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: brown;
  font-weight: 500;
  font-size: 14px;
}

li:hover {
  background-color: lightblue;
}
li:hover > a {
  font-weight: 600;
}

form {
  width: 30%;
  margin: auto;
  padding: 20px;
  box-shadow: 7px 7px 8px 0px rgb(138 130 138 / 64%),
    7px 7px 8px 0px rgb(138 130 138 / 64%);
}

.input-field {
  display: flex;
  margin: 20px;
  justify-content: center;
}
.input-field input {
  border-radius: 10px;
  padding: 5px 15px;
  border: 1px solid rgb(94, 94, 197);
}
.userForm {
  text-align: center;
}
input::placeholder {
  font-family: cursive;
  color: rgb(94, 94, 197);
}
.input-field label {
  width: 30%;
}
button,
input[type='submit'] {
  background-color: blueviolet;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  margin: 0 20px;
}

.btn-field {
  display: flex;
  justify-content: center;
}
